.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px; /* Adjust the width as needed */
  margin: 0.5em;
}

.motorbike-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 4em;
}

.motorbike-name {
  font-size: 1.2em;
  font-weight: 600;
}

.separator {
  width: 60%;
  border-top: 1px dashed #ccc;
  margin: 10px 0;
}

.motorbike-description {
  color: gray;
  width: 70%;
  font-size: small;
  padding-left: 15px;
}
