/* Navbar Styles */
.navbar {
  background-color: inherit;
  top: 0;
  z-index: 100;
  position:absolute;
  width: 20rem;
}

.logo-li {
  margin-bottom: 4rem;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  height: 3rem;
}

li * {
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  letter-spacing: -1px;
}

.active-link {
  color: green;
  font-weight: bold;
}

.home-li {
  padding: 1.5rem;
}

.home-link {
  width: 3.5rem;
}

.logo {
  width: 50%;
}
